@page "/"
@using CoVoyageurView.Pages.Components

<PageTitle>CoVoyageur</PageTitle>
<div class="relative min-h-[300px] z-[1] w-full">
    <div class="block absolute z-[-1] top-0 left-0 size-full overflow-hidden max-h-[275px]">
        <img src="/images/bg-image.svg" class=" object-cover size-full" />
    </div>
    <div class="flex flex-col justify-between items-center min-h-[300px]">
        <h1 class="py-4 font-bold text-5xl text-white">Site de merde</h1>
        <SearchBar />
    </div>
</div>


