@page "/register"
@layout NoMenuLayout
@* FirstName
LastName
Email
Password
BirthDate
Gender
Phone
*@
@*  h-[calc(100svh-50px)] *@
@* bg-[url(/images/pink-stairs.jpg)] bg-cover bg-center *@
<div class="flex w-11/12 h-4/5">
    <div class="w-[250px] bg-primary-500 h-full">
    </div>
    <div class="flex flex-col w-[60%]">
        <h1 class="text-center text-4xl text-primary-500 font-bold">Welcome aboard !</h1>
            <EditForm Model="User" class="self-center grid grid-cols-2 grid-rows-9 gap-4 w-[45%]">
                <div>
                    <label for="firstname">Firstname</label>
                    <InputText id="firstname" @bind-Value="User.FirstName" class="input-register"></InputText>
                </div>
                <div>
                    <label for="lastname">Lastname</label>
                    <InputText id="lastname" @bind-Value="User.LastName" class="input-register"></InputText>
                </div>
                <div class="col-span-2">
                    <label for="email">Email</label> 
                    <InputText id="email" @bind-Value="User.Email" class="input-register"></InputText>
                </div>
                <div class="col-span-2">
                    <label for="password">Password</label>
                    <InputText id="password" @bind-Value="User.Password" class="input-register"></InputText>
                </div>
                <div class="col-span-2">
                    <label for="passwordCheck">Password</label>
                    <InputText id="passwordCheck" @bind-Value="User.Password" class="input-register"></InputText>
                </div>
                <div>
                    <label for="birthdate">Birthdate</label>
                    <InputDate id="birthdate" @bind-Value="User.BirthDate" class="input-register"></InputDate>
                </div>

                <div>
                    <label for="gender">Gender</label>
                    <InputSelect id="gender" @bind-Value="User.Gender" class="input-register">
                    </InputSelect>
                </div>
                <div>
                    <button type="submit" class="px-4 py-3 bg-primary-500">Sign up</button>
                </div>
            </EditForm>
    </div>
</div>


@code {

    public User User { get; set; } = new();

}
