@page "/search"
@using CoVoyageurView.Services
@layout SearchLayout
@inject IApiQueryService<Ride> service
@inject HttpClient client;

<div class="w-9/12">
    <div class="grid grid-cols-2">
        <div class="bg-primary-500">
        </div>
        <div class="bg-blue-500">
            @foreach(Ride ride in Rides)
            {
                <RideCard User="ride.User" Ride="ride" Rating="ride.User.UserRating" />
            }
        </div>
    </div>
</div>


@code {

    public List<Ride> Rides { get; set; }

    //TODO Not working because object not instaciated, most likely because the get all method doesnt include User and Rating which are recquired for the component to rend
    protected override async Task OnInitializedAsync()
    {
        // var rideList = await service.GetAll();
        // Rides = rideList.ToList();

        var rideList = await client.GetFromJsonAsync<List<Ride>>("http://localhost:5199/api/Rides");
        Rides = rideList.ToList();
    }
}