<div class="flex w-[66%] bg-white  border-neutral-100 border-2 rounded-2xl shadow-lg shadow-neutral-100 ">
    <EditForm Model="Ride" class="p-1 flex font-medium divide-x-[1px] divide-gray-300">
        <!-- Départ -->
        <div class="flex items-center">
            <label for="departure">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16.5" cy="16.5" r="7" fill="white" stroke="#A5A5A5" stroke-width="4" />
                </svg>
            </label>
            <InputText id="departure" placeholder="Leaving from..." @bind-Value="Ride.Departure" />
        </div>

        <!-- Destination -->
        <div class="flex items-center">
                <label for="arrival">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="16.5" cy="16.5" r="7" fill="white" stroke="#A5A5A5" stroke-width="4" />
                    </svg>
                </label>
                <InputText id="arrival" placeholder="Going To..." @bind-Value="Ride.Arrival" />
        </div>

        <!-- Date -->
        <div class="flex items-center">
            <label for="date">
                <i class="fa-solid fa-calendar-days fa-lg" style="color: #a5a5a5;"></i>
                <InputDate id="date" @bind-Value="Ride.RideDate"/>
            </label>
        </div>

        <!-- Passager -->
        <div class="flex items-center">
        </div>

        <!-- Bouton -->
        <div class="flex items-center">
        </div>

        <button type="submit"></button>
    </EditForm>
</div>

@code {
    public Ride? Ride { get; set; } = new Ride();
}