@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<header class="px-6">
    <NavBar />
</header>
<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    // TODO requete vérification, si jwt existe, si valide => connexion auto => besoin d'un endpoint spécifique
    // protected override Task OnInitializedAsync()
    // {
        
    // }
}