@inherits LayoutComponentBase
@inject IJSRuntime Js


<header class="px-6">
    <NavBar />
</header>
<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {

}