@using CoVoyageurView.Services
@using System.Net.Http.Headers
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient client;
@inject UserState userState;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<header class="px-6">
    <NavBar />
</header>
<div class="page">
    <main>
        <CascadingValue Value="UserIsLogged">
            <article class="content">
                @Body
            </article>
        </CascadingValue>


    </main>
</div>

@code {
    public bool UserIsLogged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsync<string>("token");

        if (!String.IsNullOrEmpty(token))
        {
            client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
            var user = await client.GetFromJsonAsync<User>("http://localhost:5199/api/Authentication");

            if (user != null)
            {
                userState.User = user;
                userState.Profile = user.Profile;
                UserIsLogged = true;
            }
        }
    }/*  => await userState.GetUserState(localStorage, client); */
}