@using CoVoyageurView.Services
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient client;
@inject UserState userState;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<header class="px-6">
    <NavBar />
</header>
<div class="page">
    <main>

        <article class="content">
            @Body
        </article>

    </main>
</div>

@code {
    protected override Task OnInitializedAsync() => userState.GetUserState(localStorage, client);
}