@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<header class="px-6">
    <NavBar />
    <SearchBar/>
</header>
<div class="page bg-gray-200 h-full">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
}